services:
  # Backend Service
  - type: web
    name: orogenie-backend
    env: docker
    region: oregon
    plan: free
    rootDir: backend
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.3
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: CORS_ALLOWED_ORIGINS
        value: https://orogenie-frontend.onrender.com

  # Frontend Service
  - type: web
    name: orogenie-frontend
    env: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ./build
    envVars:
      - key: REACT_APP_BACKEND_URL
        value: https://orogenie-backend.onrender.com
